<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Welcome Doer!</h1>
  </ion-header-bar>
  <ion-content class="padding">
      <p>
      Thanks for installing and using GoPlanDo, we appreciate you. :)
      <br><br>
      To start your free trial with all features enabled, simply tap the 'Start My Trial' button below. Your free trial with all features enabled will expire 30 days from now on <strong>{{subscriptionExpiryDate}}</strong>.  
      <br><br>
      If you want to continue using all features after the free trial period, simply subscribe for $35.99 annually. 
      
       <br><br>
      If you choose not to subscribe then the app will function in Free Forever Mode. Free Forever Mode has less features and is limited to a single team project.
      <br><br>
      If you wish, you can also choose to forfeit your free trial by subscribing before the trial end date in the app via Settings -> Subscribe.
      <br><br>
      If you have questions or feedback, please don't hesitate to reach out to us <a href="mailto:support@goplando.com" target="_top">here</a> 
      <br><br>
      </p>   
      <button  class="button button-block button-positive" 
                 data-ng-click="closeSubscriptionsIntroModal()">
              <strong> Start My Trial </strong>
      </button> 
       <br><br><p>
       
       <center><small><a href="http://goplando.com/privacy" target="_top">Privacy Policy</a> &nbsp; | &nbsp; <a href="http://goplando.com/terms" target="_top">Terms of Service</a> </small></center>
     

  </ion-content>
</ion-modal-view>
