<ion-view view-title="Settings" can-swipe-back="false" hide-nav-bar="false">  
    <ion-content>		
		<div class="row">
			<div class="col">
			 <p>
				<a class="button icon item-icon-left button-block button-calm" 
				href="#/tab/settings/app"> 
				<strong><i class="icon ion-wrench"></i>App</strong>
			</a>
			  </p> <br/>
			</div>
		</div>		
		
		<div class="row">
			<div class="col">
			 <p>
				<a class="button icon item-icon-left button-block button-calm" 
				href="#/tab/settings/project">
				<strong><i class="icon ion-settings"></i>Project</strong>
				</a>
			  </p> <br/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>
					<a class="button icon item-icon-left button-block button-calm"
					   href="#/tab/settings/auth">

						<strong>
							<!--<i class="icon ion-key"></i>-->
							<img class="jhhimg" src="images/find_b.png"> JobHireHub</strong>
					</a>
				</p> <br/>
			</div>
		</div>
		<div class="row">
			<div class="col">
			 <p>
				<a class="button icon item-icon-left button-block button-calm" 
				   href="#/tab/settings/subscribe"> 
				   <strong><i class="icon ion-social-rss-outline"></i>Subscribe</strong>				
				</a>
			  </p> <br/>
			</div>
		</div>	

		<div class="row">
			<div class="col">
			 <p>
				<a class="button icon item-icon-left button-block button-calm" 
				href="#/tab/about"> 
				<strong><i class="icon ion-ios-information-outline"></i> About</strong>
				</a>
			  </p> <br/>
			</div>
		</div>
    </ion-content>
</ion-view>
